

<div>
		<p>Yapabileceklerin</p>
		<a href="/Admin/AddCountry" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Ülke Ekle</a>
		<a href="/Admin/AddImages" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Ülkelere Gezilebilecek Yerler Ekle</a>
</div>